electroclimapro.us {
	redir https://www.electroclimapro.us{uri} permanent
}

http://192.168.1.14 {
	handle /invoice-app.html {
		root * /srv/site/static
		file_server
	}

	handle /invoice.html {
		root * /srv/site/static
		file_server
	}

	handle {
		reverse_proxy invoiceapp:8080
	}
}

www.electroclimapro.us {
	handle /tools/whoami* {
		reverse_proxy whoami:80
	}

	handle {
		reverse_proxy invoiceapp:8080
	}
}
